/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Marker Felt';
}

/* set all html5 to block */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display: block;
}

/* For a container of floated elements */
.floatClear {
  overflow: hidden;
  width: 100%;
}

/* For breaking floats */
.clearBoth {
  border: none;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  height: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
  width: 0;
}

#fbWrapper {
  width: 760px;
  margin: 20px auto;
}

/* header panel */

header {
  margin-bottom: 20px;
}

header hgroup {
  float: left;
  width: 350px;
  height: 144px;
  background: url(/images/header.png) no-repeat;
}

hgroup * {
  text-indent: -10000px;
}

.scoreboard {
  width: 360px;
  border: 6px solid #fff;
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 1px 5px 5px #ccc;
  -moz-box-shadow: 1px 5px 5px #ccc;
  box-shadow: 1px 5px 5px #ccc;
  margin: 12px 4px 0 0;
}

.scoreboard h1 {
  color: #000;
  font-size: 1.1em;
  padding: 6px 5px 5px 10px;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* game */

#game {
  clear: both;
  position: relative;
}

.imageWrapper {
  -webkit-box-shadow: 1px 5px 5px #ccc;
  -moz-box-shadow: 1px 5px 5px #ccc;
  box-shadow: 1px 5px 5px #ccc;
  padding: 6px 7px 3px;
  display: block;
  float: left;
  border-top: 1px solid #f2f2f2;
}

.imageWrapper:hover {
  border-color: #da1d16;
  background-color: #da1d16;
}

.first {
  margin-right: 20px;
}

.postNote {
  display: none;
  background: url(/images/postNote.png) no-repeat 50% 0;
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 180px;
  top: 120px;
  padding: 40px;
}

.first .postNote {
  left: 40px;
}

.second .postNote {
  right: 50px;
}

.postNote h1 {
  font-size: 2.4em;
}

.resultMessage {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 320px;
  position: absolute;
  left: 210px;
  top: 30px;
  display: none;
}

.resultMessageContent {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 25px 10px;
  color: #fff;
  font-size: 2em;
  background-color: rgba(76, 76, 76, 0.8);
}

.resultMessage strong {
  background: url(/images/icons.png) no-repeat 0 0;
  padding: 15px 0 15px 85px;
}


footer {
  text-align: right;
  margin-top: 20px;
}